* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  background-color: aqua;
  text-align: center;
  padding: 5px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 70px 40px 40px 70px;
  height: 300px;
  flex-wrap: wrap;
  border: solid 3px blue;
  border-radius: 18px;
  font-size: x-large;
}

button {
  background-color: aqua;
  margin-top: 40px;
  height: 50px;
  padding: 30px;
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
}

#bookmark {
    font-style: right
    padding 0;
    margin 0;
}

