* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  background-color: aqua;
  text-align: center;
  padding: 5px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 70px 40px 40px 70px;
  height: 300px;
  flex-wrap: wrap;
  border: solid 3px blue;
  border-radius: 18px;
  font-size: x-large;
}

button {
  background-color: aqua;
  margin-top: 40px;
  height: 50px;
  padding: 30px;
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
}

.bookmark {
  .gg-bookmark,
  .gg-bookmark::after {
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px;
  }

  .gg-bookmark {
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 16px;
  }

  .gg-bookmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    top: 9px;
    left: -1px;
  }
}
