* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  background-color: aqua;
  text-align: center;
  padding: 5px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 40px 40px 40px 70px;
  height: 300px;
  flex-wrap: wrap;
  border: solid 3px blue;
  border-radius: 18px;
  font-size: x-large;
  margin: 25px;
}

.answer {
  visibility: hidden;
}
.card {
  position: relative;
  display: flex;
  flex-direction: row;
}

.answer_button {
  background-color: rgb(173, 232, 193);
  margin-top: 40px;
  height: 20px;
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.bookmark {
  position: absolute;
  top: -20px;
  right: 10px;
  font-style: right;
  padding: 0;
  margin: 0;
  background-color: white;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 0;
}

.footernavi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: x-large;
  list-style: none;
}

.categories {
  position: absolute;
  bottom: 0;
  list-style: none;
  font-size: medium;
  left: 10px;
}
